<%- include("partials/header") -%>
<br><br><br>
<div style="background-color:gray;height: 8rem">
<h1>Ooh! Try Again</h1>
<form method="get" action="/contact">
<button type="submit" class="btn btn-outline-dark btn-lg">Go Back</button>
</form>
</div>