<%- include("partials/header") -%>

<!-- <nav class="navbar navbar-expand-lg bg-body-teritary">
    <div class="container-fluid">
      <a class="navbar-brand">Career Guidance</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-md-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" style="color:white;" aria-current="page" href="#carouselExampleFade">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/c1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/images/c2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/images/c3.jpg" class="d-block w-100" alt="...">
      </div>
      <h1 class="home-h1 container-fluid">Grow you Career around the world</h1><br>
      <form class="form-class1" action="/career" method="get">
        <button class="btn btn-primary explore btn-lg">Explore Domain's</button>
        </form>
    </div>
  </div>
  <div class="container-fluid" style="text-align: center;">
    <div class="row mt-5 mb-5">
        <div class="col-lg-4 col-md-6">
            <img src="images/career1.png" class="career-img">
            <h3>Grow your career with your favourite domain.</h3>
        </div>
        <div class="col-lg-4 col-md-6">
            <img src="images/career2.png" class="career-img">
            <h3>Connect with the people all around the world</h3>    
        </div>
        <div class="col-lg-4 col-md-12">
            <img src="images/career3.png" class="career-img">
            <h3>Help others to Grow by sharing your knowledge</h3>
        </div>
    </div>
  </div>
  <div class="container-fluid guidance">
    <hr>
    <h1 class="guide-h1">Absolutely free guidance to the people who don't know where to start.</h1>
  </div>

<%- include("partials/footer") -%>