
.carousel-item img{
    height: 40.5rem;
    width: 100%;
    filter: brightness(30%);
}
.navbar{
    background-color: #3C486B;
    position: fixed;
    width:100%;
    z-index: 2;
    left: 0;
}
.navbar a,.navbar h1{
    color: white;
}

.navbar-collapse{
    text-align: left;
}

.career-img{
    height: 20rem;
    width:20rem;
}
.explore{
    position: absolute;
    z-index: 1;
}
.form-class1{
    margin: 20rem 10rem 0 0;
}
.home-h1{
    position: absolute;
    z-index: 1;
    text-align: center;
    margin: 18rem 0 0;
    color: white;
    font-family: 'Montserrat-Thin',sans-serif;
}
#carouselExampleFade{
    text-align: center;
}
.guide-h1{
    color:black;
    margin-top: 7rem;
    font-family: 'Montserrat-Thin',sans-serif;
}
.guidance{
    height: 20rem;
    text-align: center;
}
.footer-class1{
    position: relative;
}
.footer-class2{
    text-align: center;
    color: white;
    background-color: #3C486B;
    padding-bottom: 1px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.card-header img{
    height: 15rem;
    width:20rem;
}
.card{
    margin: 3rem 2rem;
    width:22rem;
}
.col-lg-4,.col-md-6{
    display:inline;
}
p{
    font-family: 'Montserrat-Thin',sans-serif;
    font-size: 1rem;
}
h1,h2{
    font-family: 'Montserrat-Thin',sans-serif;
}
.career-add{
    text-align: left;
    /* float: right; */
    position: relative;
    bottom: 50px;
    left:0;
    float:right;
}
textarea{
    width:100%;
    height: 15rem;
}
input{
    width:100%;
}
.contactMain{
    margin-top: 3rem;
}
.contactInput,.contactInput1,.contactInput2{
    width: 30%;
    height: 3rem;
}
.contactInput{
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    margin-bottom:-1px;
}
.contactInput1{
    border-radius: 0;
    margin-bottom:-1px;
}
.contactInput2{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
    margin-bottom:1rem;
}
.contactMain{
    height: 2rem;
}